# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Env files
.env
.env.local
.env.production

# EAS
google-service-account.json

# OS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
